.header{
	width: 100%;
	background-color:#7dd9e8;
	padding: 24px 0px 12px 0px;
}
.bg-image-fix{
	background-image: url("../images/body-background-image.png");
	background-repeat: repeat-y;
	background-size:100%;
}
.center{
	margin: auto;
}
.clear-fix:before,
.clear-fix:after{
	content: " ";
	display: block;
}
.clear-fix:after{
	clear: both;
}

.float-l{
	float: left;
}
.float-r{
	float: right;
}

.form input{
	width: 98%;
	background: none;
	border: transparent;
	outline: none;
	padding-left: 7px;
	font-size: 10px;
}
a{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: black;

}
.clear-right{
	clear: right;
}
.col3-left-layout{
	max-width: 938.0048px;
	padding-top: 30px;
	padding-bottom: 31px;

}
.col3-left{
	width:20.68230277185501%;
}
.main-column{
	width: 76.54584221748401%; /*718px;*/
}

.main-column-main-block{
	width: 72.28412256267409%;  /*519px;*/
}
 .main-column.right-body{
	width: 24.5125348189415%;  /*176px;*/
	background-color: #f5f5f5;

}
 .tab-list{
	 display: block;
 }
 .profile-contrainer{
	 width: 72.28412256267409%;
 }
.footer{
	max-width:  938px;
	background-color: #727272;
}
.clear-fix:before,
.clear-fix:after{
	content: " ";
	display: block;
}
.clear-fix:after{
	clear: both;
}
.search-bar-right{
	background: url("../images/right-search-input.jpg") no-repeat top right;
	cursor: pointer;
	height: 20px;
}
.search-bar-right img {
	position: relative;
	left: 240px;
	height: 20px;
	bottom: 18px;

}
